.logo{
    width: 250px;
    height: 100px;
    border-image-width: 40px;
}
.options{
    margin-left: 100px;
    color: black;
    text-shadow: 10px;
    font-size: large;
    font-weight: 600;
}
.logout{
    margin-left: 80%;
    border-radius: 20px;
   }