<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping Site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


</head>

<body style="background-color: aquamarine;">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" style="background-color: white;">
            <img class="logo" src="../assets/Images/mycart_logo.jpg" alt="No Image">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="options nav-link active" aria-current="page" href="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="options nav-link active" href="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="options nav-link active" href="products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="options nav-link active" href="cart">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="options nav-link active" href="contact">Contact</a>
                    </li>



                </ul>
            </div>
        </div>
    </nav>
    <div class="logout">
        Welcome <strong>{{name}} </strong> <button type="button" style="border-radius: 20px;"
            (click)="logout()">Logout</button>

    </div>

    <strong>Category</strong> <select name="category" id="category">
        <option value="gents">Gents</option>
        <option value="ladies">Ladies</option>
        <option value="kids">Kids</option>
        <option value="electronics">Electronics</option>
        <option value="others">others</option>

    </select>
    <div style="margin-top: 30px;" class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card" style="width: 18rem;">
                    <img src="../assets/Images/samsung1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{product_name}}</h5>
                        <p class="card-text">Company : {{product_company}</p>
                        <p class="card-text">Price : {{product_price}</p>
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../assets/Images/samsung2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{product_name}}</h5>
                        <p class="card-text">Company : {{product_company}</p>
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>


            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card" style="width: 18rem;">
                    <img src="../assets/Images/oneplus1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{product_name}}</h5>
                        <p class="card-text">Company : {{product_company}</p>
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../assets/Images/oneplus2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{product_name}}</h5>
                        <p class="card-text">Company : {{product_company}</p>
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>


            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card" style="width: 18rem;">
                    <img src="../assets/Images/iphone1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{product_name}}</h5>
                        <p class="card-text">Company : {{product_company}</p>
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../assets/Images/iphone2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{product_name}}</h5>
                        <p class="card-text">Company : {{product_company}</p>
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>


            </div>
        </div>
    </div>






</body>