.mycart_head
{
    margin-top: 40px;
    color: #4909c2;

}
.logo{
    width: 200px;
    height: 50px;
}
.options{
    color: black;
    text-shadow: 10px;
    font-size: large;
    font-weight: 600;
}
.sub_head
{
    color:#5e068a;
}
span
{
    color:blue;
}
.intro{
    line-height: 30px;
}
.learn
{
    background-color: rgb(79, 19, 107);
    color: white;
    font-weight: 600;
    margin-top: 50px;
    border-radius: 20px;
    padding: 10px 20px;
    
}
.view
{
    background-color: rgb(79, 19, 107);
    color: white;
    font-weight: 600;
    margin-top: 50px;
    padding: 10px 20px;
    
}
.learn:hover
{
    background-color: white;
    color: rgb(79, 19, 107) ;
}