<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" style="background-color: white;">
            <img class="logo" src="../assets/Images/mycart_logo.jpg" alt="No Image">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="options nav-link active" aria-current="page" href="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="options nav-link active" href="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="options nav-link active" href="products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="options nav-link active" href="cart">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="options nav-link active" href="contact">Contact</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">

            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <h1>REGISTER HERE</h1>
                <div class="mb-3">
                    Name : <input type="text" formControlName="name" name="name" class="form-control" id="name">
                </div>
                <div class="mb-3">
                    Gender : <select>
                        <option value="Male" name="gender">Male</option>
                        <option value="Female" name="gender">Female</option>
                        <option value="Transgender" name="gender">Transgender</option>
                    </select>
                </div>
                <div class="mb-3">
                    Phone : <input type="text" formControlName="phone" name="phone" class="form-control" id="phone">
                </div>
                <div class="mb-3">
                    Pincode : <input type="text" formControlName="pincode" name="pincode" class="form-control"
                        id="pincode">
                </div>
                <div class="mb-3">
                    Username : <input type="text" formControlName="username" name="username" class="form-control"
                        id="username">
                </div>
                <div class="mb-3">
                    Password : <input type="password" formControlName="password" name="password" class="form-control"
                        id="password">
                </div>





                <button type="submit" class="btn btn-primary" (click)="registerData()">Register</button>





            </div>
            <div class="col-lg-4 col-md-4 col-12">

            </div>

        </div>

    </div>
</body>

</html>
